.Back{
  background-color: green;
  height: 100vh;
}

.UserCard{
  background-color: red;
  border: 2px solid black;
  width: 40%;
  height: 20%;
}

.CardBack{
 background-color: blue;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 width:100%;
}

